h1{
    font-size: 50px;    /* para el tamaño de fuente */
    font-family: sans-serif;  /* tipo de fuente */
    font-weight: bold;  /* pesos de los titulos */
}

h2{
    font: bold 14 px   sans-serif;  /* todo en uno */
}

body{
    text-align: center; /* alineacion de textos */
    background-color:gray;
}

header, section, footer, aside, nav, article, hgroup{
    display: block;
}


.agrupar{
    width: 1000px;  /* ancho de la pagina */
    background-color:crimson;     /* fondo de la pagina */
    margin: 25px auto;  /* margenes automaticos o con pixeles, margen espacio hacia afuera*/
    padding: 40px;  /* relleno, espacio que vas hacia adentro */  
    border-radius: 4%;  
}

header{
    background-color: cyan;   /* color de fondo en el header */
}

.cabezera{
    background-color: cornflowerblue;
    border: 1px solid rgb(27, 11, 11);
    border-style: dotted;
}

.cabezera h1{
    text-align: center;
    padding: 20px;

}

.menu{
    background-color: gray;
    padding: 25px 10px;  /* (arriba y abajo && izquierda y derecha) */
    text-align: right;   /* alineacion izquierda */
    border: 10px solid yellow;
}

.menu li{   /* todos los elementos li dentro la clase menu cambian */
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    /* border: 1px solid black; */  /* bordes para el elemento */
    display: inline-block;  /* alineacion uno al lado del otro */ 
    float: right;
}

.seccion{
    background-color: navy;
    margin: 20px;
    width: 28%;   /* ancho del contenido */
    padding: 15px 20px;
    border: 1px solid black;
    border-radius: 7%;
    float: right;    /* etiqueta para hacer flotar el contenido idicando la direccion */
}

.columna{
    background-color: purple;
    margin: 20px 0px;
    width: 56%;
    border: 14px solid aqua;
    float: left;
}

.pie{
    clear: both;
    padding: 20px;
    background-color: cornflowerblue;
    font: bold 16px times new roman;
}

.seccion article{
    background-color:grey;
    padding: 15px;
    margin: 15px;
    border: 1px solid black;
}

.seccion h2{
    text-align: left;
}

.seccion footer{
    text-align: left;
    padding: 15px;
    color: brown;
}
.seccion p{
    text-align: justify
}

.seccion img{
    width: 150px;
    display: block;
    margin: auto;
    padding: 10px;
}
.columna blockquote{
    border: 1px solid brown;
    background-color: darkkhaki;
    padding: 80px;
    font: bold 14px sans-serif;
}

